<div class="row">
  <div class="twelve columns post-content">
    <h2><%- page.title %></h2>

    <%- page.content%>
    <p><%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %> — <%- full_date(page.date, 'll') %></p>
    <%- partial('partial/comments') %>
  </div>
</div>
<div class="toc-wrapper">
  <%- partial('partial/toc') %>
</div>
